@import "vars";

.header {
  z-index: 10;
  padding-top: 2.4vw;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  height: calc(2vw + 50px);
  align-items: flex-start;
  display: flex;
  transition: height 0.8s;
  .logotype {
    margin-right: 6vw;
  }
  .header-bg {
    position: absolute;
    width: 100%;
    height: 0px;
    background-color: $bgColor;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  .navigation {
    position: relative;
    flex-grow: 1;
    padding: 0px;
    display: flex;
    align-items: center;
    height: 50px;
    .list-container {
      display: flex;
      align-items: center;
      align-content: flex-start;
      margin: 0;
      height: 100%;
      padding: 0;
      .menu-item {
        float: left;
        flex-basis: 18vw;
      }
    }
    .main-menu {
      flex-grow: 1;
      height: 100%;
      .sub-menu {
        position: absolute;
        margin-top: 30px;
        display: flex;
        width: 100%;
        height: 0;
        opacity: 0;
        padding-bottom: 1.8rem;
        transition: all 0.6s;
        .sub-menu-container {
          display: flex;
          flex-basis: 18vw;
          flex-direction: column;
          .sub-menu_item {
            display: block;
            position: relative;
            margin-top: 30px;
          }
        }
      }
    }
    .main-menu_right {
      li {
        margin-right: calc(1.6vw + 14px);
      }
      .menu-item {
        .circle-btn-cart {
          right: 0;
          top: calc(50% - 7px);
        }
      }
    }
  }
}

.hidden-menu {
  top: 0px;
  right: 0;
  height: 100%;
  width: 0%;
  opacity: 0;
  position: fixed;
  z-index: 199 !important;
  background-color: rgba(242, 238, 233, 0.5);
  transition: opacity 0.6s;
  transition-delay: 0.2s;
  cursor: pointer;
  p {
    margin: 0;
  }
  .menu-container {
    overflow: hidden auto;
    cursor: context-menu;
    bottom: 0px;
    right: -42vw;
    top: 0px;
    background: rgb(198, 200, 196);
    z-index: 200;
    position: absolute;
    width: 42vw;
    transition: all 0.5s;
    .sideContainer {
      padding: 3.4vw 3.2vw 0;
      width: auto;
      .menu-name {
        margin: 1px 0 9vw;
      }
      .form {
        padding-top: 1vw;
      }
      .text-container {
        display: flex;
        flex-direction: column;
        color: $colorWhite;
        a {
          margin-top: 1.367vw;
        }
        p {
          color: $colorGray;
          cursor: text;
        }
      }
    }
  }
  .menu-search {
    .text-container {
      margin-top: 2.4vw;
      p {
        margin-bottom: 0.5vw;
      }
    }
  }
  .menu-account {
    .text-container {
      margin-bottom: 4vw;
      p {
        margin-bottom: 0.5vw;
      }
    }
  }
  .menu-cart {
    .menu-name {
      margin-bottom: 3vw !important;
    }
    .text-block {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
      border-bottom: 1px solid rgba(#7e7e7e, 0.4);
      color: $colorGray;
      .text-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
      }
      .text-uppercase {
        margin: 0.6rem 0;
        color: $colorWhite;
        span {
          text-transform: uppercase;
        }
        .sum {
          font-size: 1.2rem;
        }
      }
    }
    .cart-block {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      .item-cart {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        margin-bottom: 1rem;
        .img-block {
          flex-basis: 10rem;
          img {
            width: 100%;
          }
        }
        //
        .text-container {
          flex-grow: 1;
          padding: 0.7rem 0 0.7rem 2rem;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          .container {
            display: flex;
          }
          .remove-item {
            justify-content: flex-end;
          }
          .name-item {
            justify-content: start;
            flex-direction: column;
            line-height: 1.3rem;
          }
          .bottom-container {
            justify-content: space-between;
            .size-container {
              .qty {
                position: relative;
                margin-left: 1.6rem;
                .arrows {
                  margin-left: 0.5rem;
                  span {
                    cursor: pointer;
                    &::before,
                    &::after {
                      content: "";
                      background: url("/img/next.svg") no-repeat;
                      background-position: center;
                      width: 8px;
                      height: 8px;
                      position: absolute;
                      background-size: 8px 8px;
                      top: calc(50% - 3px);
                      transform: rotate(90deg);
                    }
                    &::after {
                      right: -26px;
                      transform: rotate(-90deg);
                    }
                  }
                }
              }
            }
            .price-container {
              font-size: 0.8rem;
              color: $colorGray;
              .price {
                margin-right: 1rem;
              }
            }
            .price-container.price_active {
              .price {
                text-decoration: line-through;
              }
              .sale {
                color: $colorRed !important;
              }
            }
          }
        }
      }
    }
    .btn-section {
      padding: 2rem 0;
      position: sticky;
      bottom: 0px;
      background-color: #c6c8c4;
    }
  }
  .menu-country {
    .text-container {
      margin-top: 4vw;
      text-align: center;
    }
    .container-content {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      padding: 1vw 2vw;
      .select-container {
        display: flex;
        justify-content: space-around;
        button{
          text-transform: uppercase;
        }
      }
    }
  }
}

.section-body {
  padding-bottom: 3vw;
  background-color: $background;
  .text-block {
    display: flex;
    align-items: center;
    height: 6vw;
    width: 100%;
    justify-content: space-between;
    margin: 0 2px;
  }
  .img-container {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    .section {
      margin-left: 1.3vw;
      &:first-child {
        margin-left: 0;
      }
    }
    .text {
      height: 8vw;
      display: flex;
      align-items: center;
    }
  }
}

.footer {
  position: sticky;
  bottom: 0;
  background: #babcb8;
  z-index: -1;
  overflow: hidden;
  .info-section {
    background-color: #babcb8;
    align-items: center;
    justify-content: space-between;
    .wp-td {
      text-decoration: underline;
    }
    h4,
    h5 {
      font-weight: normal;
    }
    .line1rem {
      display: inline-block;
      margin: 0 0.5rem;
      color: $colorGray;
      &::after {
        content: "|";
      }
    }
    .wp-link {
      color: $colorWhite;
      margin: 0px;
      margin-top: 2.6vw;
    }
    div select {
      cursor: pointer;
      border: none;
      color: $colorGray;
      background-color: rgb(59, 59, 59);
      border-color: rgb(133, 133, 133);
      background-color: transparent;
      &:focus {
        border: none;
        background-color: transparent;
        outline: none !important;
      }
    }
    .section-pc {
      display: flex;
      width: 100%;
      position: relative;
      padding: 4vw 0 2vw;
      .line {
        width: 153%;
        position: absolute;
        height: 1px;
        opacity: 0.4;
        bottom: 0;
      }
      .info-section_column {
        flex-basis: 47%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h4 {
          margin: 0px 0;
        }
        .form {
          position: relative;
          width: 24vw;
          color: $colorGray;
          .email-label {
            position: absolute;
            cursor: text;
          }
          .top-message {
            color: #fff;
            padding: 10px 0;
            opacity: 0;
            transition: opacity 0.3s ease-in;
          }
          .input-section {
            width: 100%;
            position: relative;
            .input-email {
              padding: 12px 0;
              &::placeholder {
                color: $colorWhite;
              }
            }
            .sub-btn {
              position: absolute;
              top: 0px;
              right: 0px;
              bottom: 1px;
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              padding-left: 0.694vw;
            }
          }
          .sub-message {
            margin-top: 2vw;
          }
        }
        .test {
          color: red !important;
        }
      }
      .about {
        display: flex;
        flex-direction: row !important;
        color: $colorWhite;
        justify-content: start;
        h5 {
          font-size: 14px;
          margin-bottom: 20px;
          margin-top: 25px;
        }
        a {
          color: $colorGray;
          display: inline-block;
          margin-bottom: 3px;
        }
        .customer {
          flex-basis: 50%;
          .link-phone {
            font-size: 0.8rem;
          }
        }
        .country {
          .country-container {
            color: $colorGray;
          }
        }
      }

      .line {
        bottom: 0;
      }
    }
    .section-mobile {
      color: $colorGray;
      display: none;
    }
  }
  .footer-bottom {
    background-color: #babcb8;
    padding: 6vw 2.778vw 1vw;
    justify-content: space-between;
    .footer-column {
      display: flex;
      flex-direction: column;
      justify-content: start;
      color: #7e7e7e;
      flex-basis: 23vw;
      .acc-caption {
        color: #7e7e7e;
        margin-bottom: 1.5vw;
        transition: color 0.2s;
      }
      .container {
        display: flex;
        flex-direction: column;
        transition: max-height 0.2s ease-out;
        a {
          margin-bottom: 0.7vw;
        }
      }
    }
  }
}

.header-mobile {
  display: none;
  width: 100%;
  .img-container {
    .section {
      img {
        width: 100%;
      }
    }
  }
}

.mobile-main-menu {
  display: none;
  position: fixed;
  width: 100%;
  padding: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 201;
  font-size: 1.3rem;
  .menu-bg_color {
    background: $background;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .mobile-menu-top {
    height: 50px;
    z-index: 999;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 4vw 0;
    .circle-btn-cart {
      top: calc(50% + 1px);
      right: 4.6rem;
    }
    .btn-menu {
      position: relative;
      padding: 0;
    }
    .logotype {
      img {
        width: 80%;
      }
      .arrow-left {
        position: absolute;
        width: 20px !important;
        left: 4vw;
        top: 3vw;
      }
    }
  }
  .mobile-menu-container {
    background-color: $background;
    display: flex;
    position: absolute;
    width: 0%;
    height: 0;
    opacity: 0;
    padding: 1vw 4vw;
    transition: all 0.1s;
    overflow: hidden;
    .sideContainer {
      margin-top: 11rem;
      opacity: 0;
      width: 100%;
      position: relative;
      transition: opacity 0.2s, margin-top 0.5s;
      transition-delay: 0.4s;
      .link-container {
        opacity: 1;
        margin-top: 0;
        transition: opacity 0.8s, margin-top 1s;
        .menu-link-container {
          display: flex;
          flex-direction: column;
          margin: 1rem 0 3rem;
          .m-menu-link {
            margin-top: 2rem;
          }
        }
        .right-link-container {
          font-size: 1rem;
          .country {
            font-size: 0.9rem;
            margin-top: 1rem;
            color: $colorGray;
          }
        }
      }
      .sub-container {
        position: relative;
        width: 100%;
        margin-top: 2rem;
        transition: opacity 0.5s, margin-top 0.8s;
        .m-sub-list {
          font-size: 0.9rem;
          display: flex;
          flex-direction: column;
          .sub-menu_item {
            margin-bottom: 1.8rem;
          }
        }
        .maccount-container {
          font-size: 0.9rem;
          position: absolute;
          width: 100%;
          p {
            margin: 0.5rem 0;
          }
          .form {
            margin-top: 5rem;
          }
        }
        .msearch-container {
          font-size: 1rem;
          .text-container {
            display: flex;
            flex-direction: column;
            p {
              color: $colorGray;
              margin: 1rem 0 2rem;
            }
            a {
              margin-bottom: 0.6rem;
            }
          }
        }
        .mlocation-container {
          text-transform: uppercase;
          .container {
            text-align: center;
            margin: 2vw 0;
            p {
              color: $colorGray;
            }
            .container-list {
              margin: 1vw 0;
              display: flex;
              justify-content: center;
              a {
                padding-bottom: 5px;
                border-bottom: 1px solid rgb(198, 200, 196);
                transition: 0.4s;
                &:hover {
                  border-bottom-color: rgba(#fff, 0.5);
                }
              }
            }
            .country {
              a {
                flex-basis: 16%;
              }
            }
            .language {
              justify-content: center;
              a {
                flex-basis: 25%;
              }
            }
          }
        }
      }
    }
  }
}

.logo-bottom {
  padding-top: 1.2rem;
  padding-left: 3rem;
  height: 4vw;
  background-color: #babcb8;
  padding-bottom: 2.8rem;
  .logo-text {
    font-size: 1.1rem;
  }
}

#shop {
  .mobile-main-menu {
    flex-direction: column;
    background-color: $background;
    font-size: 0.9rem;
    .mobile-menu-list {
      padding: 1.6rem 4vw;
      .container {
        margin-top: 1.2rem;
      }
      .category-container {
        height: 15px;
        overflow: hidden;
      }
      .container-item {
        display: flex;
        justify-content: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        .item {
          padding: 0 1rem;
          color: $colorGray;
          sup {
            visibility: hidden;
          }
        }
        .item.active {
          color: $colorWhite;
          sup {
            visibility: visible;
          }
        }
      }
    }
  }
  .section-body {
    margin-top: calc(5vw + 180px);
    .img-container {
      .section {
        margin-bottom: 1.9vw;
        position: relative;
        .product-top-section {
          opacity: 0;
          display: flex;
          width: 100%;
          position: absolute;
          justify-content: space-between;
          top: 1.2rem;
          left: 0;
          padding: 0 1.2rem;
          .colors-container {
            .link-color {
              padding: 5px 8px;
            }
          }
          .like {
            img {
              position: relative;
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
  }
}

#page {
  .section-body {
    .section-container {
      width: 100%;
      display: flex;
      .container {
        flex-basis: 38%;
        align-items: flex-start;
      }
      .container:nth-child(odd) {
        flex-basis: 34%;
      }
      .page-nav {
        display: flex;
        flex-direction: column;
        position: sticky;
        height: max-content;
        top: 20.972vw;
        .page-btn {
          margin-bottom: 2rem;
          color: $colorGray;
        }
        .page-btn.active {
          color: $colorWhite;
        }
      }
    }
    .section-top {
      padding-bottom: 2.4vw;
      border-bottom: 1px solid rgba(#999, 0.4);
      .text {
        font-size: 1.4rem;
      }
      .active-text {
        color: $colorGray;
      }
    }
    .section-bottom {
      margin: 3rem 0 1rem;
      position: relative;

      .page-content {
        position: relative;
        overflow: hidden;
        .page-container.active {
          margin-top: 0;
          opacity: 1;
          position: relative;
          visibility: visible;
        }
        .page-container {
          visibility: hidden;
          margin-top: 2vw;
          opacity: 0;
          position: absolute;
          transition: opacity 1s, margin-top 0.7s;
        }
        .page-content-item {
          border: none;
          border-bottom: 1px solid rgba(#999, 0.4);
          padding-bottom: 2rem;
          margin-bottom: 2rem;
          h4 {
            margin: 0 0 1.6rem;
          }
          p {
            color: $colorGray;
          }
        }
        .page-content-item:nth-last-child(1) {
          border-bottom: none !important;
        }
      }
    }
  }
}

#product {
  .section-body {
    margin: 0;
    padding: 0;
    .mobile-img-container {
      display: none;
    }
    .container-sticky {
      display: flex;
      position: relative;
      z-index: 1;
      justify-content: space-between;
      .container {
        flex-basis: 42%;
      }
      .img-content {
        flex-basis: 58%;
        .img-container {
          img {
            width: 100%;
          }
        }
      }
      .info-content {
        .container-content {
          padding: 10vw 7.6vw 2.3vw;
          position: sticky;
          top: 1vw;
          font-size: 0.8rem;
          .name-product {
            display: flex;
            flex-direction: column;
            border: none;
            border-bottom: 1px solid $borderBottom;
            padding-bottom: 2.6rem;
            p {
              margin: 0;
              padding: 0;
            }
            .name {
              color: $colorWhite;
              font-size: 1.3rem;
              margin-bottom: 0.9rem;
            }
            .class-product {
              color: $colorGray;
            }
            .color-section {
              padding: 3vw 0 0;
              .color-text {
                padding-bottom: 0.8rem;
                color: $colorGray;
              }
              .colors-container {
                padding: 0vw 0.2vw;
                .link-color {
                  margin-right: 2rem;
                  &:hover {
                    .item-color {
                      border: 1px solid $colorWhite;
                    }
                  }
                }
              }
            }
          }
          .size-section {
            padding: 2.6rem 0 0;
            .container {
              display: flex;
              justify-content: space-between;
              color: $colorGray;
              .size-guide {
                font-size: 0.8rem;
                padding-bottom: 0.2vw;
                border-bottom: 1px solid rgba($colorGray, 0.4);
              }
            }
            .size-cloth {
              padding-top: 1.2rem;
              .num {
                margin-right: 1.6vw;
                padding-bottom: 0.2vw;
              }
              .num.product-none {
                color: $colorGray;
                &.active,
                &:hover::before {
                  display: none;
                  transform: none;
                  transform-origin: none;
                }
              }
            }
          }
          .btn-add-section {
            margin: 8rem 0;
            border: 1px solid $colorWhite;
            width: 100%;
            .btn-add {
              display: flex;
              position: relative;
              justify-content: space-between;
              height: 3.4rem;
              color: $colorWhite;
              width: 100%;
              text-transform: uppercase;
              .select-v,
              .select-h {
                display: flex;
                justify-content: space-between;
                width: 100%;
                position: absolute;
                transition: opacity 0.4s;
                transition-delay: 0.3s;
                top: calc(50% - 8px);
                left: 0;
                padding: 0 1.6vw;
              }
              .select-h {
                opacity: 0;
                justify-content: center;
              }
              .select-v {
                .bag {
                  width: 14px;
                  height: 14px;
                  margin-right: 10px;
                }
              }
              &:hover {
                .select-h {
                  opacity: 1;
                }
                .select-v {
                  opacity: 0;
                }
              }
            }
          }
          .info-section {
            width: 100%;
            .info-link {
              display: flex;
              justify-content: space-between;
            }
            .info-mobile-container {
              display: none;
            }
          }
        }
      }
    }
    .related-products {
      padding: 0vw 2.8vw;
      .head-text {
        font-size: 0.9rem;
        margin: 7.6vw 0;
      }
      .related-section {
        display: flex;
        justify-content: flex-start;
        .section {
          flex-basis: 25vw;
          margin-left: 1.3vw;
          &:first-child {
            margin-left: 0;
          }
        }
      }
      .link-menu {
        margin: 5.2vw 0;
        .section-list {
          color: $colorGray;
          margin-top: 2.2vw;
          display: flex;
          column-gap: 3vw;
        }
      }
    }
  }
}

@import "media";
